/* dark blue: #041527
    light blue: #03C4FD
    off-white: #F0F7EF
    green: #0AD686 */
* {
    /* padding: 0px !important; */
    margin: 0 !important;
    box-sizing: border-box;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #041527;
}

.elements {
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #03C4FD;
    padding-top: 50px;
}

.planetarium {
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.link-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box {
    width: 100%;
    height: 300px;
    padding: 10px 0 10px 0;
    border: 3px solid #0AD686;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bg-grad {
    /* background-image: linear-gradient(#041527, #03C4FD); */
    background-image: linear-gradient(to right, rgb(3, 196, 253, 0), rgb(3, 196, 253, 0.5));
    text-decoration: none;
    color:#03C4FD;
    /* background: #03C4FD; */
}

.bg-grad:hover {
    background-image: linear-gradient(to right, rgb(3, 196, 253, 0), rgb(3, 196, 253, 1));
    text-decoration: none;
    color:#03C4FD;
}

h1 {
    text-align: center;
    font-size: 3em!important;
}

.h2-container {
    width: calc(100% - 350px);
    display: flex;
    justify-content: center;
}

/* desktop */
@media only screen and (min-width: 961px) {

    .box {
        width: 50%;
    }

    .link-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.header-text {
    color: #F0F7EF;
    text-align: center;
}

.footer {
    /* position: absolute; */
    padding-top: 30px!important;
    padding-bottom: 30px!important;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    width: 100%;
    list-style-type: none;
    background-color:#041527;
}

.footer-item {
    padding: 10px 25px 10px 25px;
    color: #03C4FD !important;
    text-decoration: none;
}

.footer-item:hover {
    color: #041527 !important;
    background-color: #0AD686;
}

