/* dark blue: #041527
    light blue: #03C4FD
    off-white: #F0F7EF
    green: #0AD686 */
* {
    /* padding: 0px !important; */
    margin: 0 !important;
    box-sizing: border-box;
}

.page {
    width: 100%;
    height: 5000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #041527;
}

.elements {
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #03C4FD;
    padding-top: 50px;
}

.planitarium {
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 100%;
    height: 300px;
    padding: 10px 0 10px 0;
    border: 3px solid #0AD686;
}

.bg-me {
    background-image: linear-gradient(to right, #868f96, #596164);
}

.bg-v {

}

.bg-e {

}

.bg-ma {

}

h1 {
    text-align: center;
}




