.planet {
    border-radius: 50%;
    margin: 10px!important;
}

.revolve {
    animation: revolve linear infinite;
}

.speed1 {
    animation-duration: 10s;
}
.speed2 {
    animation-duration: 15s;
}
.speed3 {
    animation-duration: 20s;
}
.speed4 {
    animation-duration: 27s;
}

.big {
    width: 150px!important;
    height: 150px!important;
    transform: translate(-70px);
    border: 3px solid #0AD686;
}

.sun {
    margin: 20px 20px 0 20px !important;
    width: 300px;
    height: 150px;
    background: radial-gradient(circle at 1vw 1vw, #fdc830, #f37335);
    border-radius: 200px 200px 0 0;
}

.mercury {
    width: 39px;
    height: 39px;
    background: radial-gradient(circle at 50% 50%, #868f96, #596164);
    transform-origin: 100% 400%;
}

.venus {
    width: 72px;
    height: 72px;
    background: radial-gradient(circle at 50% 50%, #eacda3, #eacda3);
    transform-origin: 50% 300%;
}

.earth {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at 50% 50%,#0AD686, #03C4FD);
    transform-origin: 50% 350%;
}

.mars {
    width: 150px;
    height: 150px;
    background: radial-gradient(circle at 50% 50%, #ff8177, #b12a5b);
    transform-origin: 50% 350%;
}

@keyframes
revolve {
    0% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}
